@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html {
  font-size: 18px;
}

body {
  @apply bg-white text-slate-900 antialiased;
}

a {
  @apply text-brand-500 no-underline transition hover:text-brand-600;
}

main {
  @apply min-h-screen;
}

.font-display {
  font-family: var(--font-display);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display);
}
